.header {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.header__title {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.0625rem;
    
    @include for-size(phone-large) {
        font-size: 1.25em;
    }
}

.header-main {
    width: 100%;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 0.0625rem solid map-get($colors , light-mode-input);

    @include for-size(phone-large) {
        border: none;
    }
}