body {
   background-color: map-get($app-layout , light-mode-background);
   color: map-get($colors , light-mode-text);
   font-family: map-get($fonts , nunitosans-regular);
   font-size: 16px;
}

body.dark {
    background-color: map-get($app-layout , dark-mode-background);
    color: map-get($colors , light-mode-ele-dark-text);
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}


