$app-layout: (
    dark-mode-background: #202C37,
    light-mode-background: #FAFAFA,
);

$fonts: (
    nunitosans-regular: 'Nunitosans-regular'
);

$colors: (
    dark-mode-elements: #2B3945,
    light-mode-ele-dark-text: #FFFFFF,
    light-mode-text: #111517,
    light-mode-input: #D3D3D3,

);