.single-country {
    display: flex;
    margin-top: 3.75rem;
}

.single-country__flag, .single-country__info {
    width: 50%;
    height: 25rem;
    background-color: map-get($app-layout , light-mode-background);
}

.single-country__flag {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.single-country__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}

.single-country__info-text {

}

.single-country__info-desc {
    display: flex;
}

.info-desc {
    width: 50%;

    &__text {
        font-size: 0.875rem;
    }
}

.country-borders {
    margin-top: 1.875rem; 

    &__text {
        font-size: 0.875rem;
    }
}