.wraper-modal {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    background-color: map-get($app-layout , light-mode-background);
    display: none;
    position: absolute;
    top: 0;
}



